*.d
*.obj
makefile
WaasmeierKohl.f90
*.orig
*.db
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
/Source/x64
/.vs
/Source/.vs/muSTEM/v15
/Source/muSTEM.u2d
/Source/.vs/muSTEM/v16
/Source/.vs/muSTEM/CopilotIndices/17.14.670.39694
/Source/.vs/muSTEM/FileContentIndex
/Source/.vs/muSTEM/v17
/Source/muSTEM.vfproj.barthel.user
/Makefile
/Source/.vs/muSTEM/CopilotIndices/17.14.719.50355
/Source/Test/Results
/Source/.vs/muSTEM/CopilotIndices/17.14.794.21998
/Source/Test/muSTEM.exe
/Source/Test/muSTEM_GPU.exe
/Source/Test/Si110_ss.xtl
/Source/Test/debug.txt
/Source/Test/Output.txt
/Source/Test/Output2.txt
/Source/Test/test.txt
/Source/Test/test2.txt
/Source/Test/test_abs.txt
/Source/Test/test_abs2.txt
/Source/Test/test_abs3.txt
/Source/Test/custom_ionization.dat
/Source/Test/x_custom_ionization.dat
/Source/Test/stem_gpu_test.txt
/Source/.vs/muSTEM/CopilotIndices/17.14.1518.61961
