*.d
*.obj
makefile
WaasmeierKohl.f90
*.orig
*.db
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
/Source/x64
/.vs
/Source/.vs/muSTEM/v15
/Source/muSTEM.u2d
/Source/.vs/muSTEM/v16
/Source/.vs/muSTEM/CopilotIndices/17.14.670.39694
/Source/.vs/muSTEM/FileContentIndex
/Source/.vs/muSTEM/v17
/Source/muSTEM.vfproj.barthel.user
/Makefile
/Source/.vs/muSTEM/CopilotIndices/17.14.719.50355
